In [136]:
#### import library here 


import pandas as pd 

amount = pd.read_csv('/Users/tsechiho/Desktop/5005 final project B/location_amount_gps.csv')

trans = pd.read_csv('/Users/tsechiho/Desktop/5005 final project B/location_transaction_gps.csv')

In [137]:
trans.columns

Index(['district', 'trans_count', 'location', 'latitude', 'longitude'], dtype='object')

In [138]:
print('Checking of the latitude')
print(set(amount.latitude) - set(trans.latitude))

print(set(trans.latitude) - set(amount.latitude))

print('Checking of the longitude')

print(set(amount.longitude) - set(trans.longitude))

print(set(trans.longitude) - set(amount.longitude))

Checking of the latitude
set()
set()
Checking of the longitude
set()
set()

In [139]:
trans = trans.drop('location', axis=1)

amount = amount.drop('location', axis=1)

In [140]:
trans.head()

          district  trans_count   latitude   longitude
0      ABERDEEN HK        21643  22.248907  114.156421
1     ADMIRALTY HK         2389  22.278616  114.166269
2   AP LEI CHAU HK        35145  22.239935  114.154524
3  BRAEMAR HILL HK        15478  22.286418  114.206442
4  CAUSEWAY BAY HK         9010  22.282078  114.189159

In [141]:
amount.head()

          district  total_amount   latitude   longitude
0      ABERDEEN HK    2496656.75  22.248907  114.156421
1     ADMIRALTY HK     393909.25  22.278616  114.166269
2   AP LEI CHAU HK    3852665.75  22.239935  114.154524
3  BRAEMAR HILL HK    1841406.50  22.286418  114.206442
4  CAUSEWAY BAY HK    1090629.50  22.282078  114.189159

In [142]:
combine = trans.merge(amount,how='left',left_on=['latitude','longitude','district'],right_on=['latitude','longitude','district'])

In [143]:
combine['average_order_price'] = combine['total_amount']/combine['trans_count']

In [144]:
combine.to_csv('tran_amount_info_hktv.csv')

In [10]:
overall_transaction = pd.read_csv('/Users/tsechiho/Desktop/5005 final project B/transaction_data.csv',low_memory=False)

In [11]:
district_list = overall_transaction.dropna().district.unique()

In [12]:
overall_transaction.district.unique()

array(['HUNG HOM KLN', 'LAM TIN KLN', 'SAI WAN HO HK', nan, 'TAI O NT',
       'KOWLOON CITY KLN', 'SAU MAU PING KLN', 'KOWLOON TONG KLN',
       'BRAEMAR HILL HK', 'REPULSE BAY HK', 'MA WAN NT', 'YUEN LONG NT',
       'MA ON SHAN NT', 'TO KWA WAN KLN', 'CHAI WAN HK', 'KWAI CHUNG NT',
       'DISCOVERY BAY NT', 'TSUEN WAN WEST NT', 'TAI PO NT',
       'YAU MA TEI KLN', 'YAU TONG KLN', 'TSEUNG KWAN O NT',
       'LAI CHI KOK KLN', 'TUEN MUN NT', 'HAPPY VALLEY HK',
       'HO MAN TIN KLN', 'SAN PO KONG KLN', 'LOHAS PARK NT',
       'QUARRY BAY HK', 'MID-LEVELS HK', 'AP LEI CHAU HK', 'CENTRAL HK',
       'SHAM SHUI PO KLN', 'KENNEDY TOWN HK', 'SHEUNG WAN HK',
       'TAI PO KAU NT', 'WAN CHAI HK', 'TSUEN WAN NT', 'FANLING NT',
       'SIU SAI WAN HK', 'TIN SHUI WAI NT', 'TAI WAI NT', 'TSING YI NT',
       'SAI KUNG NT', 'SHAM TSENG NT', 'NORTH POINT HK', 'TUNG CHUNG NT',
       'TUEN MUN TAI LAM NT', 'DIAMOND HILL KLN', 'CHOI WAN KLN',
       'TIN HAU HK', 'KOWLOON BAY KLN', 'TAI KOK TSUI KLN',
       'TAI PO MARKET NT', 'HENG FA CHUEN HK', 'JORDAN KLN',
       'SHUN LEE KLN', 'FO TAN NT', 'TAI KOO HK', 'HANG HAU NT',
       'KWUN TONG KLN', 'TIU KENG LENG NT', 'SAI WAN HK',
       'TSZ WAN SHAN KLN', 'KAM TIN NT', 'MUI WO NT', 'MEI FOO',
       'POK FU LAM HK', 'SAN TIN NT', 'LAI KING NT', 'SHATIN NT',
       'SHAU KEI WAN HK', 'TAI WO NT', 'CAUSEWAY BAY HK',
       'WONG TAI SIN KLN', 'KOWLOON STATION KLN', 'SIU LAM NT',
       'SHEK KIP MEI KLN', 'SHOUSON HILL HK', 'ABERDEEN HK',
       'CHEUNG SHA WAN KLN', 'UNIVERSITY NT', 'THE PEAK HK',
       'HA TSUEN NT', 'PRINCE EDWARD KLN', 'PO LAM NT', 'SHEUNG SHUI NT',
       'FORTRESS HILL HK', 'KWAI HING NT', 'TAI HANG HK', 'MONGKOK KLN',
       'LOK FU KLN', 'SAI YING PUN HK', 'ADMIRALTY HK',
       'TSIM SHA TSUI KLN', 'CHOI HUNG KLN', 'HUNG SHUI KIU NT',
       'KWUN TONG IND AREA KLN', 'HUNG HOM BAY KLN', 'NGAU TAU KOK KLN',
       'STANLEY HK', 'LANTAU ISLAND NT', 'TAI TAM HK', 'LAM TEI NT',
       'LAU FAU SHAN NT', 'WONG CHUK HANG HK', 'CHUNG HOM KOK HK',
       'KWU TUNG', 'TING KAU NT', 'PING SHAN NT', 'SHEK O HK',
       'SHEK TONG TSUI HK'], dtype=object)

In [14]:
import os 
import pandas as pd 
import re
from geopy.geocoders import ArcGIS
from geopy.geocoders import Nominatim
import time 

geolocator_gis = ArcGIS(timeout=5, user_agent = "my-application")

district = []
latitude_gis,longitude_gis = [], []
replace_word = ['HK', 'NT', 'KLN']


for _ in overall_transaction.district.unique():
    if type(_)==str:
        district.append(_)
        toPrint = _

    
        for word in replace_word:
            toPrint = toPrint.replace(word, "")

        location_gis = geolocator_gis.geocode(('Hong Kong'+','+ toPrint))
        latitude_gis.append(location_gis.latitude)
        longitude_gis.append(location_gis.longitude)
    
# toPrint = "Hello Ugly Guy, Good To See You."
    
# print(RemoveBannedWords(toPrint,bannedWord))

In [15]:
map_district = pd.DataFrame({'district_map':district,'latitude':latitude_gis,'longitude':longitude_gis})

In [16]:
#### Filtering out those with the district information
overall_transaction = overall_transaction[overall_transaction['district'].isin(list(map_district.district_map))]

In [17]:
overall_transaction.head()

,Unnamed: 0,hktv_ad_id,order_number,additional_parent_order,order_date,order_time_range,delivery_date,delivery_timeslot,app_type,device_type,...,housing_type,sku_id,primary_sku_id,bundle_set,quantity,total_price,primary_category,primary_category_name_en,primary_category_name_chi,primary_store
0,0,pk1SBdSI47UwZCkt2y1dT6+pOz5pjbc+NktWE0yVybU=,R+ZB91jGw/kXvcd3wYusIRdcMsJJz4FIfUOu9jz0ZzY=,NaN,2022-04-25,00-09,2022-04-26,14:00 - 18:00,MAIN,iOS,...,Commercial,ZPX40VwNASYCC+oiBs2PHXlGxAHknIDLyYgTjCFC2Io=,ZPX40VwNASYCC+oiBs2PHXlGxAHknIDLyYgTjCFC2Io=,NaN,4,300 - 400,AA11157505001,Supermarket,超級市場,VlCZChBA0l+RDNnLMgLBQzsgYPKMfgDwF/XM7iS4RAk=
1,1,IiXkiU5DQMeKXoUOb3ULSyFK0oGzkgblJBRMpW4VK9I=,j3MpPZ6XfkGTH4rhviw64an3KVg6kLWCobBbGtYCg3A=,NaN,2022-04-25,00-09,2022-04-26,18:00 - 21:00,MAIN,iOS,...,Private,bcxGkFLCckAmH2PfDbBjPH0DfiGvKTV5sm5iLxBJS3M=,bcxGkFLCckAmH2PfDbBjPH0DfiGvKTV5sm5iLxBJS3M=,NaN,2,100 - 200,AA11112520001,Supermarket,超級市場,fC2GnyJOelWByD9DStzXMrW0uaf3OtT6ZXT6Q7LTWb0=
2,2,wjbHlaR0qDPjRPk4tX2O5/b8AYpWrG9RMERzDY3T1So=,OAi0xg8ZxeoONOOSRc3P8/4Oty8n6JZZLs/SPVV4Ndk=,NaN,2022-04-25,00-09,2022-04-26,14:00 - 18:00,MAIN,Android,...,Private,bo6l85jOpzTq58yEsTusr7A43/e+j4fJNvkkKsK9eXo=,bo6l85jOpzTq58yEsTusr7A43/e+j4fJNvkkKsK9eXo=,NaN,1,34 - 36,AA11481000001,Supermarket,超級市場,2EoJEoS+J2rqb4XEtCF06gcmgKztNCT1y6iuKzxYMNc=
4,4,7smjP1PSh0a8RGSOYc2j51MKIph05c2Jw1ikhvs+EBE=,r5qHS/riTMKQ9EeW9fPOEhoG0fJctHyMlaHBqfPssvs=,TiaRqiRHCvQxT1PBmtn5NkPX/MBK2U+DbQIEIqtduOU=,2022-04-25,00-09,2022-04-26,10:00 - 14:00,MAIN,NaN,...,Private,yciGnPJQQUbfLKdlrzQZVixWUUmPqZgx60YxWy/wkJI=,yciGnPJQQUbfLKdlrzQZVixWUUmPqZgx60YxWy/wkJI=,NaN,1,32 - 34,AA11301030001,Supermarket,超級市場,REQDdZjOenENoO35RPJNxjVKmvFc9egZHCtzZlXDUQQ=
5,5,hg07rS6WKBUFAJbCTbyqf1LFWnt0Gfw0FzxxkZuSYxU=,ICHlMWhA2Utt4bU8hSVATGgAqsd8vsqc0zxoRJDtrrs=,NaN,2022-04-25,00-09,2022-04-26,14:00 - 18:00,MAIN,iOS,...,Private,QPC+iuMiJAzcYRRM28pTWQNSwi10rCJjXf3SC1nJE4A=,QPC+iuMiJAzcYRRM28pTWQNSwi10rCJjXf3SC1nJE4A=,NaN,1,100 - 200,AA16280510001,Skincare & Makeup,護膚化妝,NnDcOAEB7hvDVH3R+AITo2JcQCF2LQSK0TtVdpHqbv8=

In [ ]:
overall_transaction['time_lag_delivery'] = overall_transaction.apply(lambda x:)

In [22]:
#### breaking down by the district as the total percentage of the transaction

district_order = overall_transaction.groupby('district')['order_number'].count().to_frame()

In [27]:
district_order['percent_order'] = district_order['order_number']/district_order.order_number.sum()

In [33]:
district_order.merge(map_district,how='left',left_on='district',right_on='district_map').to_csv('overall_order_distribution.csv')

In [54]:
#### user breakdown

user = pd.read_csv('/Users/tsechiho/Desktop/5005 final project B/user_data.csv')

In [68]:
import numpy as np 
np.mean([float(_) for _ in user.total_purchase_amount[0].split('-')])

674.5

In [73]:
user =user[['hktv_ad_id','gender','age_range','total_purchase_amount','income_range','is_app_user', 'is_web_user', 'is_o2o_user']]

In [75]:
user = user.dropna()

In [78]:
age_filter = ['BELOW_12', 'AGERANGE_12_14','AGERANGE_15_19']

df[~df.country.isin(countries_to_keep)]

In [83]:
#### Filtering out those with the district information
user = user[~user['age_range'].isin(age_filter)]

In [86]:
user['total_purchase_amount'] = user.total_purchase_amount.apply(lambda x : np.mean([float(_) for _ in x.split('-')]))

/var/folders/y4/c24t1pjd6d9fbmygr2ygkgtc0000gn/T/ipykernel_2124/4209890593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user['total_purchase_amount'] = user.total_purchase_amount.apply(lambda x : np.mean([float(_) for _ in x.split('-')]))

In [105]:
user.to_csv('user_info_clean.csv')

In [99]:
user.groupby('age_range').total_purchase_amount.mean()

age_range
AGERANGE_18_25      8901.592088
AGERANGE_20_25      7607.608084
AGERANGE_26_34     14429.827516
AGERANGE_35_44     16311.520550
AGERANGE_45_55     13262.020724
AGERANGE_55plus    10608.476462
Name: total_purchase_amount, dtype: float64

In [100]:
user.groupby('age_range')['hktv_ad_id'].count()

age_range
AGERANGE_18_25      39028
AGERANGE_20_25      84092
AGERANGE_26_34     219577
AGERANGE_35_44     175618
AGERANGE_45_55      93489
AGERANGE_55plus     39935
Name: hktv_ad_id, dtype: int64

In [102]:
user.groupby('age_range')['is_app_user'].sum()

age_range
AGERANGE_18_25      27510
AGERANGE_20_25      56245
AGERANGE_26_34     157448
AGERANGE_35_44     122960
AGERANGE_45_55      58342
AGERANGE_55plus     20735
Name: is_app_user, dtype: int64

In [103]:
user.groupby('age_range')['is_web_user'].sum()

age_range
AGERANGE_18_25     13865
AGERANGE_20_25     26304
AGERANGE_26_34     62166
AGERANGE_35_44     50018
AGERANGE_45_55     27749
AGERANGE_55plus    10209
Name: is_web_user, dtype: int64

In [104]:
user.groupby('age_range')['is_o2o_user'].sum()

age_range
AGERANGE_18_25     10121
AGERANGE_20_25     22034
AGERANGE_26_34     80939
AGERANGE_35_44     71815
AGERANGE_45_55     38962
AGERANGE_55plus    16563
Name: is_o2o_user, dtype: int64

In [115]:
import glob, os

for file in glob.glob("/Users/tsechiho/Desktop/5005 final project B/product_ana/*.csv"):
    print(file)
    
    name = file.split('/')[-1].split('.')[0]
    
    if name=='tissue':
        df = pd.read_csv(file)
        df['product'] = name
    else:
        inter = pd.read_csv(file)
        inter['product'] = name
        df = pd.concat([df, inter])

/Users/tsechiho/Desktop/5005 final project B/product_ana/tissue.csv
/Users/tsechiho/Desktop/5005 final project B/product_ana/shampoo.csv
/Users/tsechiho/Desktop/5005 final project B/product_ana/laundry_detergent.csv
/Users/tsechiho/Desktop/5005 final project B/product_ana/rice.csv
/Users/tsechiho/Desktop/5005 final project B/product_ana/Cold_flu_medicine.csv
/Users/tsechiho/Desktop/5005 final project B/product_ana/Eye_care_product.csv
/Users/tsechiho/Desktop/5005 final project B/product_ana/oil.csv
/Users/tsechiho/Desktop/5005 final project B/product_ana/bodywash.csv

In [121]:
df.columns = ['date','rolling_7_day','recurring_product']

In [124]:
df = df.dropna()

In [126]:
df.to_csv('product_analysis_tableau.csv')