In [1]:
import numpy as np
import pandas as pd
import datetime
# from datetime import timedelta
import glob
from matplotlib.pyplot import MultipleLocator
import matplotlib.pyplot as plt

path='/Users/heart_jf/Desktop/5005/finalB/target_product'
filenames=glob.glob(path+'/*.csv')
for i in range(len(filenames)):
    exec(f'df{i}=pd.read_csv(filenames[i])')

/var/folders/11/0sjzwk0j4c7f2_s61k_48v180000gn/T/ipykernel_8255/1341534306.py:12: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(f'df{i}=pd.read_csv(filenames[i])')
/var/folders/11/0sjzwk0j4c7f2_s61k_48v180000gn/T/ipykernel_8255/1341534306.py:12: DtypeWarning: Columns (1,7,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(f'df{i}=pd.read_csv(filenames[i])')
/var/folders/11/0sjzwk0j4c7f2_s61k_48v180000gn/T/ipykernel_8255/1341534306.py:12: DtypeWarning: Columns (1,7,8,9,10,11,12,13,14,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(f'df{i}=pd.read_csv(filenames[i])')
/var/folders/11/0sjzwk0j4c7f2_s61k_48v180000gn/T/ipykernel_8255/1341534306.py:12: DtypeWarning: Columns (1,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(f'df{i}=pd.read_csv(filenames[i])')

In [50]:
df0=df0[df0.order_date>'2021-04-26']
df1=df1[df1.order_date>'2021-04-26']
df2=df2[df2.order_date>'2021-04-26']
df3=df3[df3.order_date>'2021-04-26']
df4=df4[df4.order_date>'2021-04-26']
df5=df5[df5.order_date>'2021-04-26']
df6=df6[df6.order_date>'2021-04-26']
df7=df7[df7.order_date>'2021-04-26']
df8=df8[df8.order_date>'2021-04-26']

In [51]:
amount=df8.total_price.values.tolist()
min_amount=[]
max_amount=[]
for i in range(len(amount)):
    if amount[i]=='10000+':
        min_amount.append(10000)
        max_amount.append(10000)
    elif amount[i]=='0':
        min_amount.append(0)
        min_amount.append(0)
    else:
        min_amount.append(float(amount[i].split('-')[0]))
        # print(amount[i])
        max_amount.append(float(amount[i].split('-')[1]))
mean_amount=[(min_amount[i]+max_amount[i])/2 for i in range(len(amount))]
df8['mean_amount']=mean_amount

In [52]:
# 不同时间的销售总额
time_amount=pd.DataFrame(df8,columns=['order_date','mean_amount']).groupby(by='order_date').sum()
time_amount_7_tissue=time_amount.rolling(7).mean()
# plt.figure(figsize=(15,6))
# plt.plot(time_amount_7_Eye_care_product.index,time_amount_7_Eye_care_product.mean_amount)
# plt.title('Total amount for each month', fontsize=14)
# x_major_locator=MultipleLocator(30)
# ax=plt.gca()
# ax.xaxis.set_major_locator(x_major_locator)
time_amount_7_tissue

             mean_amount
order_date
2021-04-27           NaN
2021-04-28           NaN
2021-04-29           NaN
2021-04-30           NaN
2021-05-01           NaN
...                  ...
2022-04-22  78144.821429
2022-04-23  79807.892857
2022-04-24  81194.178571
2022-04-25  79243.750000
2022-04-26  71766.500000

[365 rows x 1 columns]

In [31]:
time_amount_7_bodywash.to_csv('bodywash.csv')

In [14]:
time_amount_7_Cold_flu_medicine.to_csv('Cold_flu_medicine.csv')

In [19]:
time_amount_7_Daily_contact_len.to_csv('Daily_contact_len.csv')

In [34]:
time_amount_7_Eye_care_product.to_csv('Eye_care_product.csv')

In [38]:
time_amount_7_laundry_detergent.to_csv('laundry_detergent.csv')

In [42]:
time_amount_7_oil.to_csv('oil.csv')

In [46]:
time_amount_7_rice.to_csv('rice.csv')

In [49]:
time_amount_7_shampoo.to_csv('shampoo.csv')

In [53]:
time_amount_7_tissue.to_csv('tissue.csv')